.box-sizeing{
    background-color: palegreen;
    height: 500px;
    width: 500px;
    margin: auto;


    /* using grid */
    display: grid;
    place-content: center;






    /* using flex */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 10px; */
}
.content-box{
    background-color: brown;
    height: 200px;
    width: 300px;



}
/* .boder-box{ */
    background-color: rgb(78, 29, 156);
    height: 200px;
    width: 300px;



}